article .logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

article .logos img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 150px;
}

article .logos img#minecraft-logo {
  transform: scale(0.8)
}